{% extends 'plantilla.html' %}

{% block content %}
<div class="container">
  <div class="row p-2">
    <div class="list-group flex-md-row" >
      <a href="#" class="shadow-sm list-group-item list-group-item-action w-50 me-2 " style="border-radius:12px ; border: 1px solid #dee2e6; ">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small>And some small print.</small>
        <div style=" border:1px solid #f50d40 ; border-radius: 10px;"> </div>
      </a>      
      <a href="#" class="shadow-sm  list-group-item list-group-item-action w-50 me-2 " style="border-radius:12px ; border: 1px solid #dee2e6;">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small>And some small print.</small>
        <div style=" border:1px solid #f50d40 ; border-radius: 10px;"> </div>
      </a>      
      <a href="#" class="shadow-sm list-group-item list-group-item-action w-50" style="border-radius:12px ; border: 1px solid #dee2e6;">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small>And some small print.</small>
        <div style=" border:1px solid #f50d40 ; border-radius: 10px;"> </div>
      </a>      
    </div>
  </div>    
</div>
{% endblock %}