
{% extends "nav.html" %}
{% block content %}

<div class="container mt-5">
    
    <h1 class="mb-4">Venta de Productos</h1>                
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
     <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="lista_productos">Seleccione un producto</label>
            <select id="nombre" name="nombre" class="form-control">
                <option value="">Seleccione un producto</option>
                {% for nombre in productos %}
                    <option value="{{ nombre.id }}">{{ nombre.nombre }}</option>
                {% empty %}
                    <option value="">No hay productos disponibles</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group mt-2">
            <label for="cantidad">Cantidad:</label>
            <input type="number" min="1" name="cantidad" id="cantidad" class="form-control" required>{{ producto.cantidad }}</input>
        </div>


        <button type="submit" class="btn mt-3" style="background: #f50d40; color: aliceblue;">
            Guardar
        </button>
    
    </form>    
</div
{% endblock %}
